<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Smatch_Application</display-name>
<servlet>
		<description>
		</description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>myServlets.Registration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>myservlets.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FlightSearchQuery</display-name>
		<servlet-name>FlightSearchQuery</servlet-name>
		<servlet-class>myservlets.FlightSearchQuery</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewAndBook</display-name>
		<servlet-name>ViewAndBook</servlet-name>
		<servlet-class>myservlets.ViewAndBook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FlightSearchResult</display-name>
		<servlet-name>FlightSearchResult</servlet-name>
		<servlet-class>myservlets.FlightSearchResult</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>shoppingCart</display-name>
		<servlet-name>shoppingCart</servlet-name>
		<servlet-class>myservlets.shoppingCart</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>myservlets.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BookingHistory</display-name>
		<servlet-name>BookingHistory</servlet-name>
		<servlet-class>myservlets.BookingHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Cart</display-name>
		<servlet-name>Cart</servlet-name>
		<servlet-class>myservlets.Cart</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Bank</display-name>
		<servlet-name>Bank</servlet-name>
		<servlet-class>myservlets.Bank</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateBookingHistory</display-name>
		<servlet-name>UpdateBookingHistory</servlet-name>
		<servlet-class>myservlets.UpdateBookingHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Email</display-name>
		<servlet-name>Email</servlet-name>
		<servlet-class>myservlets.Email</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlightSearchQuery</servlet-name>
		<url-pattern>/FlightSearchQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAndBook</servlet-name>
		<url-pattern>/ViewAndBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlightSearchResult</servlet-name>
		<url-pattern>/FlightSearchResult</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>shoppingCart</servlet-name>
		<url-pattern>/shoppingCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookingHistory</servlet-name>
		<url-pattern>/BookingHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cart</servlet-name>
		<url-pattern>/Cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bank</servlet-name>
		<url-pattern>/Bank</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateBookingHistory</servlet-name>
		<url-pattern>/UpdateBookingHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Email</servlet-name>
		<url-pattern>/Email</url-pattern>
	</servlet-mapping>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
